For Text Mining assignment
 
 QUESTION-ONE:
1) Perform sentimental analysis on the Elon-musk tweets (Exlon-musk.csv)

In [1]:
# IMPORT LIBRARIES 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from nltk.corpus import stopwords
from textblob import TextBlob

In [2]:
# UPLOAD DATA

df = pd.read_csv('Elon_musk.csv',sep=',', encoding='cp1252')
df

      Unnamed: 0                                               Text
0              1                             @kunalb11 I’m an alien
1              2  @ID_AA_Carmack Ray tracing on Cyberpunk with H...
2              3                @joerogan @Spotify Great interview!
3              4                    @gtera27 Doge is underestimated
4              5  @teslacn Congratulations Tesla China for amazi...
...          ...                                                ...
1994        1995  @flcnhvy True, it sounds so surreal, but the n...
1995        1996  @PPathole Make sure to read ur terms &amp; con...
1996        1997                @TeslaGong @PPathole Samwise Gamgee
1997        1998  @PPathole Altho Dumb and Dumber is <U+0001F525...
1998        1999                          Progress update August 28

[1999 rows x 2 columns]

In [3]:
# DROP 'Unnamed: 0' COLUMNS

df1=df.drop(['Unnamed: 0'], axis=1)
df1

                                                   Text
0                                @kunalb11 I’m an alien
1     @ID_AA_Carmack Ray tracing on Cyberpunk with H...
2                   @joerogan @Spotify Great interview!
3                       @gtera27 Doge is underestimated
4     @teslacn Congratulations Tesla China for amazi...
...                                                 ...
1994  @flcnhvy True, it sounds so surreal, but the n...
1995  @PPathole Make sure to read ur terms &amp; con...
1996                @TeslaGong @PPathole Samwise Gamgee
1997  @PPathole Altho Dumb and Dumber is <U+0001F525...
1998                          Progress update August 28

[1999 rows x 1 columns]

In [5]:
# CONVERT ALL DATA INTO LOWER CASE

df1['Text'] = df1['Text'].apply(lambda x: " ".join(x.lower() for x in x.split()))
df1['Text'].head()

0                               @kunalb11 i’m an alien
1    @id_aa_carmack ray tracing on cyberpunk with h...
2                  @joerogan @spotify great interview!
3                      @gtera27 doge is underestimated
4    @teslacn congratulations tesla china for amazi...
Name: Text, dtype: object

In [11]:
# Removing Punctuation

df1['Text'] = df1['Text'].str.replace('[^\w\s]','')
df1['Text'].head()

c:\users\babar ali\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until

0                                    kunalb11 im alien
1    id_aa_carmack ray tracing cyberpunk hdr nextle...
2                     joerogan spotify great interview
3                          gtera27 doge underestimated
4    teslacn congratulations china amazing executio...
Name: Text, dtype: object

In [12]:
# Removal of Stop Words

stop = stopwords.words('english')
df1['Text'] = df1['Text'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
df1['Text'].head()

0                                    kunalb11 im alien
1    id_aa_carmack ray tracing cyberpunk hdr nextle...
2                     joerogan spotify great interview
3                          gtera27 doge underestimated
4    teslacn congratulations china amazing executio...
Name: Text, dtype: object

In [74]:
 # Common word removal
    
freq = pd.Series(' '.join(df1['Text']).split()).value_counts()[:10]
freq

Neuteral    956
Negative    198
great        73
haha         55
good         50
sure         41
much         38
first        37
tesla        36
true         34
dtype: int64

In [75]:
freq = list(freq.index)
df1['Text'] = df1['Text'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
df1['Text'].head()

0
1
2                           joerogan spotify interview
3
4    teslacn congratulation china amazing execution...
Name: Text, dtype: object

In [76]:
# Rare Words Removal

freq1 = pd.Series(' '.join(df1['Text']).split()).value_counts()[-10:]
freq1

httpstcom8vj2gaofs    1
heard                 1
protein               1
spike                 1
cov2                  1
identify              1
httpstcovbiu7ds4uq    1
sarscov2              1
accuracy              1
accept                1
dtype: int64

In [77]:
freq1 = list(freq1.index)
df1['Text'] = df1['Text'].apply(lambda x: " ".join(x for x in x.split() if x not in freq1))
df1['Text'].head()

0
1
2                           joerogan spotify interview
3
4    teslacn congratulation china amazing execution...
Name: Text, dtype: object

In [78]:
# Tokenization

TextBlob(df1['Text'][1]).words

WordList([])

In [79]:
import nltk
nltk.download('punkt')

[nltk_data] Error loading punkt: <urlopen error [WinError 10060] A
[nltk_data]     connection attempt failed because the connected party
[nltk_data]     did not properly respond after a period of time, or
[nltk_data]     established connection failed because connected host
[nltk_data]     has failed to respond>

False

In [80]:
# Lemmatization

from textblob import Word

df1['Text'] = df1['Text'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
df1['Text'].head()

0
1
2                           joerogan spotify interview
3
4    teslacn congratulation china amazing execution...
Name: Text, dtype: object

In [81]:
# Sentiment Analysis

df1['Text'][:5].apply(lambda x: TextBlob(x).sentiment)

0                                    (0.0, 0.0)
1                                    (0.0, 0.0)
2                                    (0.0, 0.0)
3                                    (0.0, 0.0)
4    (0.20000000000000004, 0.32222222222222224)
Name: Text, dtype: object

In [82]:
#  SENTIMENT STATUS

df1['sentiment'] = df1['Text'].apply(lambda x: TextBlob(x).sentiment[0] )
df1[['Text','sentiment']].head()

                                                Text  sentiment
0                                                           0.0
1                                                           0.0
2                         joerogan spotify interview        0.0
3                                                           0.0
4  teslacn congratulation china amazing execution...        0.2

In [93]:
# SENTIMENT STATUS COLUMN MAKE A DATAFRAME 

df2=df1['sentiment']

df3=pd.DataFrame({'sentiment':df2})
df3

      sentiment
0      0.000000
1      0.000000
2      0.000000
3      0.000000
4      0.200000
...         ...
1994   0.119444
1995   0.000000
1996   0.000000
1997   0.000000
1998   0.000000

[1999 rows x 1 columns]

In [94]:
# TWEET status
df3['sentiment_status'] = df3['sentiment'].apply(lambda x: 'Negative' if x <0 else ('Neutral' if x==0 else 'positive'))

df3

      sentiment sentiment_status
0      0.000000          Neutral
1      0.000000          Neutral
2      0.000000          Neutral
3      0.000000          Neutral
4      0.200000         positive
...         ...              ...
1994   0.119444         positive
1995   0.000000          Neutral
1996   0.000000          Neutral
1997   0.000000          Neutral
1998   0.000000          Neutral

[1999 rows x 2 columns]

In [96]:
# NUMBER OF POSSITIVE, NEGATIVEA AND NEUTRAL TWEET STATUS 

df3['sentiment_status'].value_counts()

Neutral     1341
positive     633
Negative      25
Name: sentiment_status, dtype: int64

******************************

**************************

QUESTION  TWO:
        
1) Extract reviews of any product from ecommerce website like amazon

2) Perform emotion mining

In [2]:
# IMPORT LIBRARIES 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from nltk.corpus import stopwords
from textblob import TextBlob

In [4]:
# scrapy runspider Scrape_AmazonReviews\Scrape_AmazonReviews\spiders\extract_reviews1.py -o extract_reviews1.csv

#  IF WE RUN ABOVE COMMAND ON CMD THIS CREATE .CSV FILE 
# FIRST I HAVE SCRAPING AMAZON refrigerator REVIEWS DATA FROM AMAZON WEBSITE

In [3]:
# UPLOAD DATA 

df4=pd.read_csv('extract_reviews1.csv')
df4

                   stars                                            comment
0     4.0 out of 5 stars  \n\n\n\n\n\n\n\n  \n  \n    I am first time pu...
1     4.0 out of 5 stars  \n\n\n\n\n\n\n\n  \n  \n    Bahut hi sundar fr...
2     4.0 out of 5 stars  \n\n\n\n\n\n\n\n  \n  \n    Looking good, fine...
3     4.0 out of 5 stars  \n\n\n\n\n\n\n\n  \n  \n    Best in this range...
4     4.0 out of 5 stars    \n\n\n\n\n\n\n\n  \n  \n    Super product\n  \n
...                  ...                                                ...
1175  5.0 out of 5 stars  \n\n\n\n\n\n\n\n  \n  \n    This is a very goo...
1176  5.0 out of 5 stars  \n\n\n\n\n\n\n\n  \n  \n    I am satisfied wit...
1177  5.0 out of 5 stars             \n\n\n\n\n\n\n\n  \n  \n    Okay\n  \n
1178  3.0 out of 5 stars  \n\n\n\n\n\n\n\n  \n  \n    Delivery of the pr...
1179  5.0 out of 5 stars  \n\n\n\n\n\n\n\n  \n  \n    Very good product\...

[1180 rows x 2 columns]

In [5]:
# DROP 'stars' COLUMNS

df5=df4.drop(['stars'], axis=1)
df5

                                                comment
0     \n\n\n\n\n\n\n\n  \n  \n    I am first time pu...
1     \n\n\n\n\n\n\n\n  \n  \n    Bahut hi sundar fr...
2     \n\n\n\n\n\n\n\n  \n  \n    Looking good, fine...
3     \n\n\n\n\n\n\n\n  \n  \n    Best in this range...
4       \n\n\n\n\n\n\n\n  \n  \n    Super product\n  \n
...                                                 ...
1175  \n\n\n\n\n\n\n\n  \n  \n    This is a very goo...
1176  \n\n\n\n\n\n\n\n  \n  \n    I am satisfied wit...
1177             \n\n\n\n\n\n\n\n  \n  \n    Okay\n  \n
1178  \n\n\n\n\n\n\n\n  \n  \n    Delivery of the pr...
1179  \n\n\n\n\n\n\n\n  \n  \n    Very good product\...

[1180 rows x 1 columns]

In [6]:
# CONVERT ALL DATA INTO LOWER CASE

df5['comment'] = df5['comment'].apply(lambda x: " ".join(x.lower() for x in x.split()))
df5['comment']

0       i am first time purchase samsung 183 litre ref...
1                                  bahut hi sundar fridge
2           looking good, fine, but side heating is there
3                                      best in this range
4                                           super product
                              ...
1175    this is a very good product for the price.but ...
1176    i am satisfied with the purchase. home deliver...
1177                                                 okay
1178    delivery of the product is too late and one tr...
1179                                    very good product
Name: comment, Length: 1180, dtype: object

In [7]:
# Removing Punctuation

df5['comment'] = df5['comment'].str.replace('[^\w\s]','')
df5['comment'].head()

c:\users\babar ali\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until

0    i am first time purchase samsung 183 litre ref...
1                               bahut hi sundar fridge
2          looking good fine but side heating is there
3                                   best in this range
4                                        super product
Name: comment, dtype: object

In [8]:
# Removal of Stop Words

stop = stopwords.words('english')
df5['comment'] = df5['comment'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
df5['comment'].head()

0    first time purchase samsung 183 litre refriger...
1                               bahut hi sundar fridge
2                       looking good fine side heating
3                                           best range
4                                        super product
Name: comment, dtype: object

In [15]:
 # Common word removal
    
freq1 = pd.Series(' '.join(df5['comment']).split()).value_counts()[:10]
freq1

product     590
purchase    472
good        472
delivery    354
first       236
happy       236
time        236
one         236
fridge      236
nice        236
dtype: int64

In [16]:
freq1 = list(freq1.index)
df5['comment'] = df5['comment'].apply(lambda x: " ".join(x for x in x.split() if x not in freq1))
df5['comment'].head()

0    samsung 183 litre refrigerator thank amazon
1                                bahut hi sundar
2                      looking fine side heating
3                                     best range
4                                          super
Name: comment, dtype: object

In [20]:
# Rare Words Removal

freq2 = pd.Series(' '.join(df5['comment']).split()).value_counts()[-10:]
freq2

fine        118
side        118
heating     118
best        118
range       118
super       118
pricebut    118
getting     118
hotat       118
missing     118
dtype: int64

In [21]:
freq2 = list(freq2.index)
df5['comment'] = df5['comment'].apply(lambda x: " ".join(x for x in x.split() if x not in freq2))
df5['comment'].head()

0    samsung 183 litre refrigerator thank amazon
1                                bahut hi sundar
2                                        looking
3
4
Name: comment, dtype: object

In [22]:
# Tokenization

TextBlob(df5['comment'][1]).words

WordList(['bahut', 'hi', 'sundar'])

In [23]:
import nltk
nltk.download('punkt')

[nltk_data] Error loading punkt: <urlopen error [WinError 10060] A
[nltk_data]     connection attempt failed because the connected party
[nltk_data]     did not properly respond after a period of time, or
[nltk_data]     established connection failed because connected host
[nltk_data]     has failed to respond>

False

In [24]:
# Lemmatization

from textblob import Word

df5['comment'] = df5['comment'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
df5['comment'].head()

0    samsung 183 litre refrigerator thank amazon
1                                bahut hi sundar
2                                        looking
3
4
Name: comment, dtype: object

In [25]:
# Sentiment Analysis

df5['comment'][:5].apply(lambda x: TextBlob(x).sentiment)

0    (0.0, 0.0)
1    (0.0, 0.0)
2    (0.0, 0.0)
3    (0.0, 0.0)
4    (0.0, 0.0)
Name: comment, dtype: object

In [26]:
df5['sentiment'] = df5['comment'].apply(lambda x: TextBlob(x).sentiment[0] )
df5[['comment','sentiment']].head()

                                       comment  sentiment
0  samsung 183 litre refrigerator thank amazon        0.0
1                              bahut hi sundar        0.0
2                                      looking        0.0
3                                                     0.0
4                                                     0.0

In [27]:
df6=df5['sentiment']

df7=pd.DataFrame({'sentiment':df6})
df7

      sentiment
0      0.000000
1      0.000000
2      0.000000
3      0.000000
4      0.000000
...         ...
1175   0.000000
1176   0.366667
1177   0.500000
1178  -0.300000
1179   0.000000

[1180 rows x 1 columns]

In [28]:
# comment status
df7['sentiment_status'] = df7['sentiment'].apply(lambda x: 'Negative' if x <0 else ('Neutral' if x==0 else 'positive'))

df7

      sentiment sentiment_status
0      0.000000          Neutral
1      0.000000          Neutral
2      0.000000          Neutral
3      0.000000          Neutral
4      0.000000          Neutral
...         ...              ...
1175   0.000000          Neutral
1176   0.366667         positive
1177   0.500000         positive
1178  -0.300000         Negative
1179   0.000000          Neutral

[1180 rows x 2 columns]

In [29]:
# NUMBER OF POSITIVE, NEGATIVE AND NEUTRAL REVIEWS OF SAMSUNG refrigerator ON AMAZON 

df7['sentiment_status'].value_counts()

Neutral     826
positive    236
Negative    118
Name: sentiment_status, dtype: int64